<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="at.bestsolution.efxclipse.runtime.di.DIApplication">
            <parameter
                  name="mainClass"
                  value="at.bestsolution.fx43.desktop.Application">
            </parameter>
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.bestsolution.fx43.desktop.application"
            name="product">
         <property
               name="appName"
               value="product">
         </property>
      </product>
   </extension>

</plugin>
